# eclipse file
*/.settings
*/.settings/*
*/.classpath
*/.factorypath
*/.project

# java build
*/target
*/target/*
*/bin
*/bin/*

# html
*/node_modules
*/node_modules/*
*/dist
*/dist/*

# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# 工程需要
!easy-web/easy-jscript/lib/nashorn.jar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
